<% provide(:title, @user.username) %>
<div class="row">
  <aside class="span4">
    <section>
      <%= render 'shareholder_follow_form' if signed_in? %>
        <%= gravatar_for @user, size: 52 %>
      <h1>
          <%= @user.username %>
      </h1>
      <% if current_user?(@user.username) %>
        <span><%= link_to "view my feed", root_url %></span>
      <% end %>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="span8">
    <% if @user.posts.any? %>
      <h3>My Posts</h3>
      <ol class="posts">
        <%= render @posts %>
      </ol>
      <%= will_paginate @posts %>
    <% end %>
  </div>
</div>