<li id="<%= comment_item.id %>">
  <span class="user">
    <%= link_to gravatar_for(comment_item.user), comment_item.user %>
    <%= link_to comment_item.user.username, user_path(comment_item.user) %>
  </span>
  <span class="title">
      <%= comment_item.message %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(comment_item.created_at) %> ago.
  </span>
</li>