<li id="<%= feed_item.id %>">
<div class="post_votes">
    <div class="post_votecount">
      <%= feed_item.votes.where(:up => true).count - feed_item.votes.where(:up => false).count %>
    </div>
    <div id="post_vote_item">
    <div class="post_upvote">
      <% if current_user && current_user.votes.where(:post_id => feed_item.id, :up => true).present? %>
        <%= image_tag("uparrow_true.png", :border => 0) %>
      <% else %>
        <%= link_to image_tag("uparrow.png", :border => 0), votes_path(:vote => {:post_id => feed_item.id, :up => true}), :method => :post %>
      <% end %>
    </div>
    <div class="post_downvote">
      <% if current_user && current_user.votes.where(:post_id => feed_item.id, :up => false).present? %>
        <%= image_tag("downarrow_true.png", :border => 0) %>
      <% else %>
        <%= link_to image_tag("downarrow.png", :border => 0), votes_path(:vote => {:post_id => feed_item.id, :up => false}), :method => :post %>
      <% end %>
    </div>
  </div>

<div id="post_post_item">
      <%= link_to gravatar_for(feed_item.user), feed_item.user %>
    <span class="user">
      <%= link_to feed_item.user.username, user_path(feed_item.user) %>
    </span>
    <span class="title"><%= link_to feed_item.title, comment_path(feed_item.id) %></span>
      <%= link_to feed_item.symbol, company_path(feed_item.symbol) %>
    <span class="timestamp">
      Posted <%= time_ago_in_words(feed_item.created_at) %> ago.
    </span>
      <% if current_user?(feed_item.user) or current_user.admin? %>
      <%= link_to "delete", feed_item, method: :delete,
                                      data: { confirm: "You sure?" },
                                      title: feed_item.title %>
    <% end %>
  </div>
</li>
