<%= form_for(@post) do |f| %>
  <div class="field">
  	<%= f.text_field :symbol, placeholder: "Symbol" %>
  </div>
  <div class="field">
    <%= f.text_field :title, placeholder: "Title" %>
  </div>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new post" %>
  </div> 	
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>